<section>
  <img src="<%= @poster %>" alt="movie poster">

  <div class="movie_info">
    <h1><%= @title %></h1>
    <p class="basic-info"><span>Year released:</span> <%= @year %></p>
    <p class="basic-info"><span>Rating:</span> <%= @rating %></p>
    <p class="basic-info"><span>Runtime:</span> <%= @runtime %></p>
    <p><span>Director:</span> <%= @director %></p>
    <p><span>Cast:</span> <%= @actors %></p>
    <p class="plot"><%= @plot %></p>
    <a href="/">HOME</a>
  </div>

</section>
