<section id="about">
  <img src="<%= @result['poster'] %>" alt="movie poster">

  <div class="movie_info">
    <h1><%= @result['title'] %></h1>
    <p class="basic-info"><span>Year released:</span> <%= @result['year'] %></p>
    <p class="basic-info"><span>Rating:</span> <%= @result['rating'] %></p>
    <p class="plot"><%= @result['plot'] %></p>
    <a href="/" class="home-button">HOME</a>
  </div>

</section>
